.GameBoard__Wrapper {
	display: grid;
	grid-template-rows: 11fr 1fr;
	grid-template-areas:
		'gameBoardContainer'
		'gameBoardController';
	height: calc(100vh - 60px);
}

.GameBoard__Container {
	grid-area: gameBoardContainer;
}

.GameBoard__Controller {
	grid-area: gameBoardController;
}
