.GameBoard__Wrapper {
	position: relative;
	margin-top: 56px;
	display: grid;
	grid-template-rows: 11fr 60px;
	grid-template-areas:
		'gameBoardContainer'
		'gameBoardController';
	height: calc(100vh - 56px);

	& > .GameBoard__SideController {
		overflow: hidden;
		z-index: 100;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		top: 0;
		right: 0;
		width: 60px;
		position: absolute;
	}

	& > .GameBoard__Container {
		grid-area: gameBoardContainer;
	}

	& > .GameBoard__BottomController {
		grid-area: gameBoardController;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}
